package templates

import (
	"github.com/stackninja.pro/goth/internals/models"
)

templ AboutPage(td *models.TemplateData) {
@Layout(td) {
  <h1>About Goth Stack</h1>
  <p>This is the about page using plain CSS.</p>

}
}